.DS_Store
*.suo
*.pdb
*.obj
*.dll
*.exe
*.user
*.cache
*.nuget
/temp
/obj
/bin
/packages
[Bb]uild/
[Dd]ebug/
[Rr]elease/
_ReSharper*/
[Tt]est[Rr]esult*/
packages/
*.nupkg
*.snk
/TestResults
/publish
*.publish.xml
*.log
*.vs
*.DotSettings.user
/node_modules
/wwwroot/js/
